@model HealthcareCompanion.Models.MedicalData

@{
    ViewBag.Title = "BloodSugar";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<h2>Blood Sugar</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>@*BloodSugar*@</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Value1, "Enter Blood Sugar reading here: ", htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Value1, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Value1, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeOfDay, htmlAttributes: new { @class = "control-label col-md-12" })
            <div class="col-md-12">
                @{
                    if (ViewBag.TimeOfDayList != null)
                    {
                        <select id="TimeOfDay" name="TimeOfDay">
                            <option selected>--SELECT THE TIME OF DAY THIS READING WAS TAKEN--</option>
                            @foreach (String item in ViewBag.TimeOfDayList)
                            {
                                <option value="@item">@item</option>
                            }
                        </select>
                    }
                    else
                    {
                        <p>List is empty</p>
                    }
                }
                @Html.ValidationMessageFor(model => model.TimeOfDay, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Enter Data" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to Medical Selection", "MedicalDataSelection")
</div>
