@using HealthcareCompanion.DataAccessLayer;

@{
    ViewBag.Title = "ChartWeightByMonth";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<h2>Weight Graph By Month</h2>

<div class="form-group">
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ChartBloodSugar", "Patient")'">Blood Sugar</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ChartBloodPressure", "Patient")'">Blood Pressure</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ChartPulse", "Patient")'">Pulse</button>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("ChartWeight", "Patient")'">Weight</button>
</div>


@if (ViewBag.medicalDataList != null)
{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
    function LoadGoogle() {
        google.charts.load('current', {
            callback: drawChart,
            packages: ['corechart']
        });
    }

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Time of Day');
        data.addColumn('number', 'Weight');

        //data.addRows([
        //    [new Date("2020-11-15 16:03:45.970"), 107], [new Date("2020-11-14 16:03:45.970"), 108], [new Date("2020-11-13 16:03:45.970"), 120]
        //]);

        data.addRows([
            @{
                int counter = 0;
                foreach (var item in ViewBag.medicalDataList)
                {
                    int month = item.Now.Month - 1;
                    <text>["@item.Now.Month/@item.Now.Day/@item.Now.Year - @item.TimeOfDay", @item.Value1],</text>
                    counter++;
                }
            }
        ])

        var options = {
            title: 'Graph of Weight Over Time',
            width: '85%',
            height: 500,
            hAxis: {

                    gridlines: { color: 'grey', count: @counter }
            },
            vAxis: {
                    gridlines: { color: 'grey', count: @counter },
                minValue: 80  //can i change to viewbag min value
            },
            colors: ['#A700FF'],
            pointSize: 7
        };

                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                chart.draw(data, options);

        //var button = document.getElementById('change');

        //        button.onclick = function () {

        //            // If the format option matches, change it to the new option,
        //            // if not, reset it to the original format.
        //            options.hAxis.format === 'M/d/yy' ?
        //                options.hAxis.format = 'MMM dd, yyyy' :
        //                options.hAxis.format = 'M/d/yy';

        //            chart.draw(data, options);
        //        };
        }
    LoadGoogle();
    </script>
    @*<script src="https://www.gstatic.com/charts/loader.js"></script>*@
    <div id="chart_div"></div>

    <div class="form-group">
        <div class="col-md-12">
            @using (Html.BeginForm("ChartWeight", "Patient", FormMethod.Post))
            {
                if (ViewBag.MonthList != null)
                {
                    <select id="MonthSelect" name="MonthSelect">
                        <option selected>--Change the graph month range here--</option>
                        @foreach (var item in ViewBag.MonthList)
                        {
                            <option value=@item>@item</option>
                        }
                    </select>
                }
                else
                {
                    <p>There is no medical information entered to change the timeline.</p>
                }

                if (ViewBag.YearList != null)
                {
                    <select id="YearSelect" name="YearSelect">
                        <option selected>--Change the graph year range here--</option>
                        @foreach (var item in ViewBag.YearList)
                        {
                            <option value=@item>@item</option>
                        }
                    </select>
                }
                else
                {
                    <p>There is no medical information entered to change the timeline.</p>
                }
                @*<button type="button" class="btn btn-info" onclick="location.href='@Url.Action("ChartBloodSugar", "Patient", FormMethod.Post)'">Change Timeline</button>*@
                <input type="submit" value="Change Timeline" class="btn btn-info" />
                <button type="button" class="btn btn-info" onclick="location.href='@Url.Action("ChartWeight", "Patient")'">Reset To Full Timeline</button>
            }
        </div>
    </div>
}
else
{
    <h2>No Medical Data To List</h2>
}