@using HealthcareCompanion.DataAccessLayer;

@{
    ViewBag.Title = "ChartBloodSugar";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<h2>ChartMedicalData</h2>

<button onclick="BloodSugar()">Blood Sugar</button>
<button href="">Blood Pressure</button>
<button href="">Pulse </button>
<button href="">Weight</button>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    function LoadGoogle() {
        google.charts.load('current', {
            callback: drawChart,
            packages: ['corechart']
        });
    }

    function drawChart() {

        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Time of Day');
        data.addColumn('number', 'Blood Sugar');

        //data.addRows([
        //    [new Date("2020-11-15 16:03:45.970"), 107], [new Date("2020-11-14 16:03:45.970"), 108], [new Date("2020-11-13 16:03:45.970"), 120]
        //]);

        data.addRows([
            @{
                int counter = 0;
                foreach (var item in ViewBag.medicalDataList)
                {
                    int month = item.Now.Month - 1;
                    <text>[new Date(@item.Now.Year, @month, @item.Now.Day, @item.Now.Hour, @item.Now.Minute, @item.Now.Second), @item.Value1],</text>
                    counter++;
                }
            }
        ])

        var options = {
            title: 'Graph of Blood Sugar Over Time',
            width: 900,
            height: 500,
            hAxis: {
                    format: 'M/d/yyyy',
                gridlines: { count: @counter }
                    },
            vAxis: {
                    gridlines: { color: 'none' },
                minValue: 80  //can i change to viewbag min value
            }
                };

                var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

                chart.draw(data, options);

        //var button = document.getElementById('change');

        //        button.onclick = function () {

        //            // If the format option matches, change it to the new option,
        //            // if not, reset it to the original format.
        //            options.hAxis.format === 'M/d/yy' ?
        //                options.hAxis.format = 'MMM dd, yyyy' :
        //                options.hAxis.format = 'M/d/yy';

        //            chart.draw(data, options);
        //        };
        }
    LoadGoogle();
</script>
@*<script src="https://www.gstatic.com/charts/loader.js"></script>*@
<div id="chart_div"></div>